.profile {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(63, 63, 63) ;
  padding: 20px;
}

.profile-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.tweet-input {
  width:89%;
}

.img-or-tweet {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}

.tweet-options {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.tweet {
    background-color: #1DA1F2;
    padding: 10px 20px;
    border-radius: 1000px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.tweet:hover {
    cursor: pointer;
}

.img-div{
    border-radius: 50%;
    padding: 10px;
}

.img-div:hover{
    cursor:pointer;
    background-color: #282828;
}
