.page {
  display: flex;
  justify-content: space-between;
}

.main-window {
  width: 800px;
}

.left-sidebar, 
.right-sidebar {
  position: sticky;
  top: 0;
  color: white;
  height: 100vh;
}

.left-sidebar {
  border-right: 1px solid rgb(63, 63, 63);
  width: calc((100vw - 800px)*0.45);
}

.right-sidebar {
  border-left: 1px solid rgb(63, 63, 63);
  width: calc((100vw - 800px)*0.55);
}
